{{- $computerName := output "scutil" "--get" "ComputerName" | trim }}

# Set Path
export PATH=$HOME/bin:/usr/local/bin:/opt/homebrew/bin/:$PATH
export GPG_TTY=$(tty)
export HOMEBREW_NO_AUTO_UPDATE=1

# Sourcing
test -r $HOME/.asdf/asdf.sh && . $HOME/.asdf/asdf.sh

# Colima/Docker compatibility
if command -v colima > /dev/null
then
    export COLIMA_VM="default"
    export COLIMA_VM_SOCKET="${HOME}/.colima/${COLIMA_VM}/docker.sock"
    export DOCKER_HOST="unix://${COLIMA_VM_SOCKET}"
fi

# Aliases
alias typeless="history 20000 | sed \"s/.*  //\"  | sort | uniq -c | sort -g | tail -n 100"
alias cdt="cd \$(mktemp -d)"
## Git
alias gbc="git branch --merged | egrep -v \"(^\*|master|main|dev)\" | xargs git branch -d"
## Terraform
alias ti="terraform init"
alias tp="terraform plan"
alias ta="terraform apply"
alias twl="terraform workspace list"
alias tws="terraform workspace select"
## AWS
alias ssm-ue1="aws ssm start-session --region us-east-1 --target"
alias ssm-ue2="aws ssm start-session --region us-east-2 --target"
alias ssm-uw2="aws ssm start-session --region us-west-2 --target"

{{- if eq $computerName "M6T99NMHQ0 Dustin Brewer" }}
# Workstation specific
function ggo-stg-pw() {
  db=$1
  ggo db -e stg json $db | jq '"username = \(.data.username)", "password = \(.data.password)"'
}
function ggo-prod-pw() {
  db=$1
  ggo db -e prod json $db | jq '"username = \(.data.username)", "password = \(.data.password)"'
}
{{- end }}
