{{- $computerName := output "scutil" "--get" "ComputerName" | trim }}

# Set Path
export PATH=$HOME/bin:/usr/local/bin:/opt/homebrew/bin/:$PATH
export GPG_TTY=$(tty)
export HOMEBREW_NO_AUTO_UPDATE=1
{{- if eq $computerName "M6T99NMHQ0 Dustin Brewer" }}
# GoGoDB
if [[ -e ~/.gogo/bin ]]; then
    export PATH="/Users/mannkind/.gogo/bin:${PATH}"
fi
{{- end }}

# Aliases
alias typeless="history 20000 | sed \"s/.*  //\"  | sort | uniq -c | sort -g | tail -n 100"
alias cdt="cd \$(mktemp -d)"
## Git
alias gbc="git branch --merged | egrep -v \"(^\*|master|main|dev)\" | xargs git branch -d"
## Terraform
alias ti="terraform init"
alias tp="terraform plan"
alias ta="terraform apply"
alias twl="terraform workspace list"
alias tws="terraform workspace select"
## AWS
alias ssm-ue1="aws ssm start-session --region us-east-1 --target"
alias ssm-ue2="aws ssm start-session --region us-east-2 --target"
alias ssm-uw2="aws ssm start-session --region us-west-2 --target"

{{- if eq $computerName "M6T99NMHQ0 Dustin Brewer" }}
# Workstation specific
function dbeaver() {
  env=$1
  db=$2
  /Users/mannkind/.gogo/bin/ggo db -e $env shell -m /Applications/DBeaver.app/Contents/MacOS/dbeaver $db
}

## Aliases
alias partner-start="echo 'y' | ./go nuk; echo 'y' | docker system prune; ./go; ./go migrate development; ./go start dev"
alias partner-test="echo 'y' | ./go nuke; ./go full_tests"
alias partner-api-start="echo 'y' | ./go nuke; echo 'y' | docker system prune; ./go dev"
{{- end }}
