#!/bin/sh
echo "Installing MISE"
curl https://mise.run | sh
~/.local/bin/mise --version

{{ if eq .chezmoi.os "linux" -}}
echo "Linux"
{{ else if eq .chezmoi.os "darwin" -}}
# Brewfile hash: {{ include "dot_config/Brewfile.tmpl" | sha256sum }}
echo "MacOS"
if command -v brew &> /dev/null
then
    brew bundle --file=~/.config/Brewfile
fi

# Setup docker compatibility
if command -v podman &> /dev/null
then
  echo "Found podman. Setting up docker-compatibility. Will require sudo"
  f=$(mktemp)
  echo \#\!/bin/sh > $f
  echo exec podman \"\$@\" >> $f
  chmod +x $f
  sudo mv $f /usr/local/bin/docker
fi

{{ end -}}
