tap "homebrew/cask-fonts"
cask "font-jetbrains-mono"

brew "jq"
brew "watch"
brew "wget"
brew "yq"

cask "1password"
cask "iterm2"
cask "keepingyouawake"
cask "maccy"
cask "rectangle"
cask "slack"
cask "the-unarchiver"
cask "visual-studio-code"
cask "zoom"

{{- if eq .chezmoi.hostname "ganymede" }}
brew "age"
brew "k3sup"
brew "podman"
brew "sops"

cask "anki"
cask "kopiaui"
cask "krita"
cask "openscad"
cask "podman-desktop"
cask "prusaslicer"
cask "signal"
cask "vlc"
{{- end }}

{{- if eq .chezmoi.hostname "DB-Q2C955605G" }}
{{- end }}
