{{- $computerName := output "scutil" "--get" "ComputerName" | trim }}

cask "font-jetbrains-mono"

brew "jq"
brew "watch"
brew "wget"
brew "yq"

cask "iterm2"
cask "the-unarchiver"
cask "visual-studio-code"

{{- if eq $computerName "Dustin's MacBook Pro" }}
brew "age"
brew "k3sup"
brew "sops"

cask "1password"
cask "anki"
cask "dbeaver-community"
cask "docker"
cask "keepingyouawake"
cask "kopiaui"
cask "krita"
cask "maccy"
cask "openscad"
cask "prusaslicer"
cask "rectangle"
cask "signal"
cask "slack"
cask "vlc"
cask "zoom"
{{- end }}

{{- if eq $computerName "M6T99NMHQ0 Dustin Brewer" }}
brew "postgresql"
brew "pass"
brew "testkube"
cask "dbeaver-community"
cask "postman"
{{- end }}
